<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IOPD.DataManager.Properties.Settings.IODatabaseConnectionString"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=IODatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString1" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=IODatabase;Integrated Security=True"/>
  </appSettings>
</configuration>